[recorder]
direcory = data/recorder/
rsyncTarget = data/recs/
deviceIndex = 0
channels = 1
samplerate = 48000
framesize = 1024
oscPort = 9000
cancelPeriod = 10

[database]
path = data/totale_architektur.db
backupDir = data/database_backups

[vereinheiter]
numSpeakers = 5
clipsDir = data/clips
sumsDir = data/sums
recsDir = data/recs
dailiesDir = data/dailies
sumAttenuation = 3
fadeDur = 0.1
silenceLen = 0.3
silenceTresh = -50
compressorTreshold = -20.0
compressorRatio = 4.0
compressorAttack = 5.0
compressorRelease = 50.0
minClipLen = 1
scIP = localhost
scPort = 57120
dayVolume = 0
nightVolume = -6
dayStart = 10
dayEnd = 22
