[recorder]
direcory = data/recordings
deviceIndex = 0
channels = 1
samplerate = 48000
framesize = 1024
trimSeconds = 0.1
oscPort = 9000

[database]
path = data/totale_architektur.db

[vereinheiter]
numSpeakers = 5
clipsDir = data/clips
sumsDir = data/sums
sumAttenuation = 3
compressorTreshold = -20.0
compressorRatio = 4.0
compressorAttack = 5.0
compressorRelease = 50.0
